@import "./_global";
@import "./_mixins";

.wrapper {
    height: 100vh;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        perspective-origin: center center;
    }

    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    &__circle {
        width: 30px;
        height: 30px;
        border-radius: 50%;

        &[data-move="white"] {
            background-color: #ffffff;
        }

        &[data-move="black"] {
            background-color: #000000;
        }
    }
}

.chess {
    width: 500px;
    border: 1px solid black;
    height: 500px;
    perspective: 1000px;
    box-shadow: 0 0 25px 0 #000000;

    &__rows {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
    }

    &__row {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 62px;

        &:nth-child(odd) {
            .chess__cell:nth-child(odd) {
                background-image: linear-gradient(to bottom, #E1E1E1, #D3D3D3);
            }

            .chess__cell:nth-child(even) {
                background-image: linear-gradient(to bottom, #4E4E4E, #343434);
            }
        }

        &:nth-child(even) {
            .chess__cell:nth-child(odd) {
                background-image: linear-gradient(to bottom, #4E4E4E, #343434);
            }

            .chess__cell:nth-child(even) {
                background-image: linear-gradient(to bottom, #E1E1E1, #D3D3D3);
            }
        }
    }

    &__cell {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        transition: transform .3s;

        &[data-area-move] {
            box-shadow: inset 0 0 10px 3px #20B2AA;

            @include setKeyframesShadowAnim(pulse-shadow-area-move, #20B2AA);
        }

        &[data-active-figure] {
            box-shadow: inset 0 0 10px 3px #FFC878;

            @include setKeyframesShadowAnim(pulse-shadow-active-figure, #FFC878);
        }

        &[data-area-enemy] {
            box-shadow: inset 0 0 10px 3px #B5524B;

            @include setKeyframesShadowAnim(pulse-shadow-area-enemy, #B5524B);
        }
    }
}