@import "./_global";

.wrapper {
    height: 100vh;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    &__circle {
        width: 30px;
        height: 30px;
        border-radius: 50%;

        &[data-move="white"] {
            background-color: #ffffff;
            box-shadow: 0 0 10px 0px #c2c2c2;
        }

        &[data-move="black"] {
            background-color: #000000;
        }
    }
}

.title {
    margin-right: 15px;
}

.chess {
    width: 500px;
    border: 1px solid black;
    height: 500px;

    &__rows {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
    }

    &__row {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 62px;

        &:nth-child(odd) {
            .chess__cell:nth-child(odd) {
                background-color: #E1E19A;
            }

            .chess__cell:nth-child(even) {
                background-color: #7FB7A8;
            }
        }

        &:nth-child(even) {
            .chess__cell:nth-child(odd) {
                background-color: #7FB7A8;
            }

            .chess__cell:nth-child(even) {
                background-color: #E1E19A;
            }
        }
    }

    &__cell {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        transition: transform .3s;

        &[data-area-move],
        &[data-area-enemy] {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &::before {
                content: "";
                display: block;
                width: 30%;
                height: 30%;
                border-radius: 50%;
                background-color: #50C878;
                position: absolute;
                z-index: 9;
            }

            &::after {
                content: "";
                background-color: rgba(255, 255, 255, .4);
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 99;
            }
        }

        &[data-active-figure] {
            background-color: #FFC878 !important;
        }

        &[data-area-enemy] {
            &::before {
                background-color: #B5524B;
            }
        }
    }
}